#con {max-width: 1400px; margin: 0 auto; padding: 50px 0;}

.bmar_100 {margin-bottom: 100px !important;}

/* form */
.intxt {min-width: 200px; padding: 5px 10px 5px; border: 1px solid #e0e0e0;}
.inRadio {display: inline-block; padding-right: 10px;}
.inRadio input[type='radio']{width: 0px; height: 0px; margin: 0; padding: 0;}
.inRadio input[type='radio']+label {display: inline-block; line-height: 24px; vertical-align:middle; cursor:pointer;}
.inRadio input[type='radio']+label > span {display: inline-block; width: 20px; height: 20px; border:1px solid #e0e0e0; border-radius: 50%;vertical-align:middle; background-color: #fff;}
.inRadio input[type='radio']:checked+label > span {background-color: rgb(0, 195, 255);}
.inRadio input[type='radio']:focus+label > span {border-color: red;}
.btn_submit {display: inline-block; width: 200px; height: 50px; border: none; line-height: 50px; font-weight: 600; font-size: 1.0625rem; text-align:center; color: #fff; background-color:rgb(0, 119, 255); cursor:pointer;}



.form01 {}
.form01 .form-list {border-top: 2px solid rgb(0, 119, 255);}
.form01 .form-list > li{display: table; width: 100%; border-bottom: 1px solid #e0e0e0;}
.form01 .form-list > li .l-con {display: table-cell; width: 200px; padding: 20px; background-color: rgb(167, 205, 248);}
.form01 .form-list > li .r-con {display: block; padding: 20px;}



/* s02 */
.tab-box {display: block;}
.tab-box .tab-wrap{display: block;}
.tab-box .tab-wrap::after {content:""; display: block; clear: both;}
.tab-box .tab-wrap > li {float: left; width: 25%;}
.tab-box .tab-wrap > li .btn-tab {display: block; width: 100%; height: 50px; border: 1px solid #e0e0e0; line-height: 48px; font-weight: 600; font-size: 1.125rem; text-align:center;}
.tab-box .tab-wrap > li .btn-tab.on {border-color: rgb(0, 171, 238); color: #fff; background-color: rgb(0, 171, 238);}

.tab-c-wrap {display: block;}
.tab-c-wrap .tab-con {display: none; margin-top: 20px; padding: 20px; border: 1px solid #e0e0e0;}
.tab-c-wrap .tab-con.on {display: block;}



/*s03*/
.form-wrap {}
.form-wrap .data-wrap {margin-bottom: 50px;}
.form-wrap .data-wrap .data-box {display: block;}
.form-wrap .data-wrap .data-box::after {content:""; display: block; clear: both;}
.form-wrap .data-wrap .data-box .data-head {padding: 20px; background-color: #e0e0e0;}
.form-wrap .data-wrap.v2 .data-box .data-head {background-color:rgb(153, 218, 238);}
.form-wrap .data-wrap .data-box .data-head::after {content:""; display: block; clear: both;}
.form-wrap .data-wrap .data-box .data-head .data-tit {font-size: 1.5rem; font-weight: bold;}
.form-wrap .data-wrap .data-box .data-head .btn-wrap {float:right;}
.form-wrap .data-wrap .data-box .data-head .btn-wrap::after {content:""; display: block; clear: both;}
.form-wrap .data-wrap .data-box .data-head .btn-wrap .btn-add {float: left; width: 40px; height: 40px; text-align: center; font-size:0; background-color: blue;}
.form-wrap .data-wrap .data-box .data-head .btn-wrap .btn-add::before {content:"+"; display: inline-block; font-weight: bold; font-size: 1.5rem; line-height: 40px; color: #fff;}
.form-wrap .data-wrap .data-box .data-head .btn-wrap .btn-remove {float: left; width: 40px; height: 40px; border: 1px solid blue; text-align: center; font-size:0; background-color: #fff;}
.form-wrap .data-wrap .data-box .data-head .btn-wrap .btn-remove::before {content:"-"; display: inline-block; font-weight: bold; font-size: 1.5rem; line-height: 38px; color: blue;}
.form-wrap .data-wrap .data-box .data-body {padding: 20px; border: 1px solid #e0e0e0; border-top: none;}
.form-wrap .data-wrap .data-box .data-body .intxt {width: 100%; margin-bottom: 10px;}
.form-wrap .data-wrap .data-box .data-body .intxt:last-child {margin-bottom: 0px;}